$color-brand: #f44336;

@import "~taro-ui/dist/style/index.scss";



.image-desc-input{
    margin: 0;
    border: 2px dashed #ccc;
    padding: 12px;
}

.content-image{
    width: 100%;
}

.at-image-picker{
    .at-image-picker__flex-box{
        .at-image-picker__flex-item:first-child{
            margin-left: 0;
        }
    }
}